*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav{
  background-color: rgb(122, 46, 46);
  height: 70px;
  width: 100%;
 display: flex;
 align-items: center;
 /* justify-content: center; */
}
.navigation a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.search{
  padding: 30px;
}
#search1{
  width: 600px;
  height: 20px;
  border-radius: 50px;
}
.box{
   /* border:  2px solid black; */
   height: 520px;
   width: 100%;
}
.box1{
 background: url(https://media.istockphoto.com/id/1467199060/photo/cup-of-coffee-with-smoke-and-coffee-beans-on-old-wooden-background.webp?b=1&s=170667a&w=0&k=20&c=xaf6WXzxcR9hhlfE6Re6GI1syywFQ92RdGjgbzQzc84=) no-repeat;
 background-size: cover;
 background-position: center;
 color: #fff;
 text-align: right;
 position: absolute;
 /* height: 580px;
 width: 100%; */
}
.coffee{
  position: relative;
  top: 50px;
  right: 90px;
  animation: coffeeanime 5s infinite;
}
@keyframes coffeeanime{
  0%{
    opacity:0;
    transform: translateX(0);
  }
  100%{
    opacity: 1;
    transform: translateX(50px);
  }
}
#cofe{
  font-size: 40px;
}
#espresso{
  font-size: 20px;
  font-weight: 700;
}
.time{
  font-size: medium;
  font-style: italic;
  color: rgb(253, 248, 248);
}
#search2{
   margin: 0;
   padding: 0;
   position: relative;
   top: 90px;
   right: 50px;
}
#search3{
  width: 400px;
  height: 20px;
  border-radius: 50px;
  opacity: 0.5;
}
#button1{
  position: relative;
  top: 160px;
  right: 290px;
  background: #832f2f;
  padding: 10px;
  color: #fff;
  border-radius: 50px;
  border: none;
  box-shadow: 1px -1px 11px 11px rgb(181, 58, 58);
}
#button1:hover{
  background: rgb(144, 84, 42);
  color: #fff;
  box-shadow:1px -1px 11px 11px rgb(91, 46, 46) ;
   
}
.box3{
 background: url(https://w0.peakpx.com/wallpaper/886/72/HD-wallpaper-coffee-black-cup-with-coffee-gray-background-coffee-concepts.jpg) no-repeat;
 background-size: cover;
 background-position: center;
 color: #fff;
}
#about{
  padding-top: 70px;
  padding-left: 70px;
  font-style: italic;
  font-size: 50px;
}
#para{
  height: auto;
    width: 400px;
    margin: 20px;
}
.socialmedia {
  margin-left: 50px;
}
.socialmedia i{
  margin-right: 10px;
   padding: 5px;
  box-shadow: inset 0px 1px 12px 1px #fff ;
  animation: socmed 4s ease  1 ;
}
.socialmedia i:hover{
  transform: scale(2 , 2) ;
  
}
@keyframes socmed {
  from{
    opacity: 0;
    transform: translateX(0);
  }
  to{
    opacity: 1;
    transform: translateX(30px);
  }
}
.box4{
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.cafe{
  display: flex;
  padding: 50px;

}
.box4 .cafe img{
    height: 400px;
    width: 400px;
    padding: 30px;
    animation: imageanime 3s 2s 4 ;
    
}
.box4 .cafe img:hover{
  height:430px ;
  width:430px ;
  padding: 32px;
  transition: ease ;
}
@keyframes imageanime {
  from{
    opacity: 0;
    transform: translateX(0);
  }
  to{
    opacity: 1;
    transform: translateX(30px);
  }
}
.cup{
  background: #000;
  display: flex;
  padding: 20px;
  color: #fff;
}
.menu1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu2{
  box-shadow: 8px -5px 20px rgb(137, 74, 29);
  /* border: 2px solid yellow; */
  margin-left: 80px;
  height: 270px;
  width: 150px;
}
.menu2:hover{
  height: 290px ;
  width: 170px;
  /* margin-left:82px ; */
  
}

.head{
  padding-bottom: 20px;
  font-style: italic;
}
.coldcoffee p{
  font-style: italic;
}
.order{
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: rgb(98, 56, 26);
  color: #fff;
  height: 30px;
  width: 60px;
  border: none;
  box-shadow:1px 1px 10px 5px rgb(115, 69, 36);
}
.order:hover{
  color: #fff;
  background:black ;
  box-shadow: 1px 1px 10px 5px white;
}
.lastpage{
  height: 400px;
  width: 100%;
  border: 2px solid black;
  background: #000;
  position: absolute;
  /* animation: lastpageanime 2s ease ; */
}

.lastline1{
  position: relative;
  top: 40px;
  left: 100px;
  display: inline-block;
  color: #fff;
  font-size: 70px;
  opacity: 0.5;
  animation: lastpageanime 4s ease  infinite;
}
.lastline2{
  position: relative;
  top: 60px;
  left: 134px;
  display: inline-block;
  color: #fff;
  font-size: 50px;
  opacity: 0.6;
  animation: lastpageanime 4s ease infinite ;
}
@keyframes lastpageanime {
  from{
    opacity: 0;
    transform: translateY(0);
  }
  to{
    opacity: 1;
    transform: translateY(-30px);
  }
}
@media  screen and (max-width:600px) {
  nav{
    background-color: rgb(122, 46, 46);
    height: 50px;
    width: 100%;
    display: flex;
   align-items: center;
   /* justify-content: center; */
  }
  .navigation a{
    color: #fff;
    text-decoration: none;
    padding: 4px;
  }
  .search{
    display: none;
    padding: 5px;
  }
  #cofe{
    font-size: 20px;
  }
  #espresso{
    font-size: 10px;
    font-weight: 600;
  }
  .time{
    font-size: small;
    font-style: italic;
    color: rgb(253, 248, 248);
  }
  #search3{
    width: 200px;
    height: 10px;
    border-radius: 50px;
    opacity: 0.5;
  }
  #button1{
    position: relative;
    top: 120px;
    right: 150px;
    padding: 5px;
  }
}